body {
  margin-top: 30px;
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {
  text-align: center;
  display: inline-block;
}

h1 {
  background-color: black;
  color: white;
  font-family: monospace;
}

p {
  font-style: italic;
  font-family: monospace;
  font-weight: bolder;
}

label {
  font-family: monospace;
  border: 2px solid black;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: monospace;
}

#rubypic {
  display: none;
}

#pythonpic {
  display: none;
}

#javascriptpic {
  display: none;
}

#match {
  display: none;
}
